body {
  font-family: 'Overpass', sans-serif;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

h1 { font-size: 5vmax; }
h2 { font-size: 4vmax; }
h3 { font-size: 3.5vmax; }
h4 { font-size: 3vmax; }
h5 { font-size: 2.5vmax; }
h6 { font-size: 2vmax; }
p  { font-size: 2vmax; }

/**
 * First letter of the paragraph
 */

p:first-of-type:first-letter {
  // Style
  font-weight: 700;
  color: $highlight;
  // Make sure the letter is exact.
  float: left;
  font-size: 5vmax;
  line-height: 60%;

  // Spacing around the letter
  padding-left: 0;
  padding-right: 0.5vmax;
  padding-top: 1vmax;
  padding-bottom: 0;
}
