{{ partial "header.html" . }}

  <div class="half">
    <figure>
      <video src="{{ .Site.BaseURL }}/video/stretch.mp4" playsinline="playsinline" autoplay="autoplay" loop="loop"></video>
    </figure>
    <aside class="grand">
      <h1>Experimental story teller</h1>
      <p>Creating something that is powerful and impactful can be difficult to achieve without years of knowledge of how <em>not to</em> accomplish those narratives.</p>
    </aside>

  </div>


  <hr />

  <div class="half reverse">
    <div></div>
    <h2>A carfully curated list of companies I've had the pleasure of working with</h2>
  </div>

{{ partial "footer.html" . }}
