{{ partial "header.html" . }}

  <div class="half">

    <figure>
      <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
          <div class="wistia_embed wistia_async_sb5k6iloya seo=false videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
        </div>
      </div>
    </figure>

    <aside class="grand">
      <h1>Experimental story teller</h1>
      <p>Creating something that is powerful and impactful can be difficult to achieve without years of knowledge of how <em>not to</em> accomplish those narratives.</p>
    </aside>

  </div>

  <div class="half reverse">
    <div></div>
    <h2>A carfully curated list of companies I've had the pleasure of working with</h2>
  </div>

{{ partial "footer.html" . }}
<style>.w-bottom-bar{visibility: hidden !important; } .wistia_responsive_padding { pointer-events: none !important; }</style>
<script src="https://fast.wistia.com/embed/medias/sb5k6iloya.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
