{{ partial "header.html" . }}

    <div class="half">
      <img src="https://picsum.photos/750/750" alt="Ourselves"/>
      <aside>
        <h1>Story teller. Playing with <a href="https://github.com/yratof?tab=repositories" target="_blank" class="blue">code</a> &amp; <a href="http://yratof.co.uk" target="_blank" class="red">ink</a></h1>
        <h3>Often found being experimental</h3>
        <p>There's an element of sleep in his eye, but i can't imagine he's not noticed it yet.</p>
        <p> Why wouldn't he notice it... <em>Does he even care?</em></p>
      </aside>
    </div>

{{ partial "footer.html" . }}
